$text-color: #ecdfcc
$primary-color: #39612c
$secondary-color: #528d3f
$background-dark: rgb(43, 49, 42)
$background-light: #1E201E
$link-color: #42d1b2
$link-hover-color: #2e917b
$border-radius: 10px

.projects
  padding: 2rem
  background-color: $background-light // Cor de fundo definida
  border-radius: $border-radius
  width: 100%
  display: flex
  flex-direction: column
  align-items: center // Centraliza o conteúdo horizontalmente

  &-title
    text-align: center
    font-weight: bold
    font-size: 2.5rem
    color: $primary-color // Usando o verde definido para o título

  &-grid
    display: grid
    grid-template-columns: 1fr
    gap: 2rem
    margin-top: 2rem
    width: 100%

    // Responsividade para múltiplas colunas
    @media (min-width: 768px)
      grid-template-columns: 1fr

    @media (min-width: 1500px)
      grid-template-columns: 1fr 1fr

  .project-card
    display: flex
    flex-direction: row
    width: 100%
    align-items: center
    justify-content: space-between
    background: $background-dark // Cor do fundo da card
    border-radius: $border-radius
    overflow: hidden
    height: 350px

    .project-gif
      width: 100%
      height: 80%
      object-fit: cover
      transform: none

    .project-content
      padding: 1.5rem
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 100%

    .project-title
      font-weight: bold
      font-size: 2rem
      background: linear-gradient(90deg, $primary-color, $secondary-color) // Gradiente verde
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      background-clip: text
      color: transparent

    .project-description
      margin: 1rem 0
      font-weight: 500
      font-size: 1.3rem
      color: $text-color // Cor do texto principal

    .project-languages
      display: flex
      flex-wrap: wrap
      margin-bottom: 1rem

      .language-item
        display: flex
        align-items: center
        color: $text-color
        margin-right: 1rem
        font-size: 1.2rem
        font-weight: bold
        padding: 0.5rem

        .language-icon
          margin-right: 0.5rem
          color: $text-color
          font-size: 2.5rem

    .project-links
      margin-top: auto

      a
        color: $link-color // Cor de link principal
        text-decoration: none
        font-size: 1.2rem
        font-weight: bold

        &:hover
          color: $link-hover-color // Cor de hover para links

        .github-icon
          margin-right: 5px
          font-size: 1.2em
